<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Subdirectories</h3>
  </div>
  <div class="box-body">
    <table id="tableSubdirs">
      <thead>
      <tr><th></th></tr>
      </thead>
      <tbody>
      <% subdirectories.each do |subdir| %>
        <tr>
          <td class="col-xs-12"><%= link_to subdir.name, directory_path(subdir.id) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    $(document).ready(function()
    {
        var table = $('#tableSubdirs').DataTable({
            paging: <%= subdirectories.length > 25 %>,
            dom: 'lftrp',
            pageLength: 25,
            lengthMenu: [10, 25, 50, 100]
        });
    } );
</script>