<div class="box box-primary">
  <div class="box-body">

    <table id="dt-subdirectories" class="table table-hover" style="display: none">
      <thead>
      <tr>
        <th>Subdirectory</th>
        <th class="column-assignee">Assignee</th>
      </tr>
      </thead>
      <tbody>
      <% subdirectories.each do |subdir| %>
        <tr>
          <td class="col-xs-10">
            <%= link_to subdir.name, directory_path(subdir.id) %>
          </td>

          <td class="col-xs-2" >
            <%= render partial: 'dropdown_select_tester', locals: { directory_id: subdir.id, selected_tester_name: subdir.tester.name, multiple_connected: true} %>
          </td>

        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<script>
  // Initialize datatable
  $(document).ready(function ()
  {
    prepareDataTableSubdirectories(<%= subdirectories.length > 25 %>);
  });
</script>