<div class="box box-primary">
  <div class="box-body">
    <table id="suitesDataTable" class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <% @suites.each do |suite| %>
          <tr>
            <td><%= link_to suite.name, suite_runs_path(suite.id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>

  $(document).ready(function() {
    $('#suitesDataTable').DataTable(
        {
          paging: <%= @suites.length > 25 %>,
          pageLength: 25,
          info: false,
          lengthMenu: [10, 25, 50, 100]
        }
    );
  } );

</script>

