<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @suites.each do |suite| %>
      <tr>
        <td><%= suite.name %></td>
        <td><%= link_to 'Show', suite_path(suite.id) %></td>
      </tr>
  <% end %>
</table>