<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @tests.each do |test| %>
      <tr>
        <td><%= test.name %></td>
        <td><%= link_to 'Show', suite_run_test_path(test.run.suite.id, test.run.id, test.id) %></td>
      </tr>
  <% end %>
</table>